{% extends 'base/base.html' %}

{% block header %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container" id="global">
    <form method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Username</label>
                    {{form.username(class="form-control")}}
                    {{form.errors.username}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Nome</label>
                    {{form.nome(class="form-control")}}
                    {{form.errors.nome}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Email</label>
                    {{form.email(class="form-control")}}
                    {{form.errors.email}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Senha</label>
                    {{form.password(class="form-control")}}
                    {{form.errors.password}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Repita a senha</label>
                    {{form.confirm(class="form-control")}}
                    {{form.errors.confirm}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <button class="btn btn-primary" type="button"><a href="{{ url_for('login') }}" ><font color=white>voltar</font></a></button>
                <button class="btn btn-primary"  type="submit">Registar</button>
            </div>
        </div>

    </form>
</div>
<br><br><br><br>
{% endblock %}