{% extends 'base/base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<br>
<div class="bloco">

    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="card">
            <div class="card-header">
                Adicionar Cliente
            </div>

            <div class="form-group">
                <h4>Responsável pelo cliente</h4>
                <div class="row">
                    <label class="control-label col-2 text-right">Nome</label>
                    <div class="col-3">
                        {{form.nome_responsavel(class="form-control")}} {{form.errors.nome_responsavel}}
                    </div>
                </div>
                <br>
            </div>

            <h4>Dados da Empresa</h4>
            <div class="row">
                <label class="control-label col-2 text-right">Empresa</label>
                <div class="col-10">
                    {{form.empresa(class="form-control")}} {{form.errors.empresa}}
                </div>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-2 text-right">Natureza Jurídica</label>
                <div class="col-6">
                    {{form.natureza_juridica(class="form-control")}} {{form.errors.natureza_juridica}}
                </div>


                <label class="control-label col-1 text-right">Porte</label>
                <div class="col-3">
                    {{form.porte(class="form-control")}} {{form.errors.porte}}
                </div>
            </div>
            <br>

            <h4>Localização</h4>

            <div class="form-group">
                <div class="row">
                    <label class="control-label col-2 text-right">Endereço</label>
                    <div class="col-10">
                        {{form.endereco(class="form-control")}} {{form.errors.endereco}}
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-2 text-right">Cidade</label>
                        <div class="col-3">
                            {{form.cidade(class="form-control")}} {{form.errors.cidade}}
                        </div>

                        <label class="control-label col-1 text-right">Bairro</label>
                        <div class="col-3">
                            {{form.bairro(class="form-control")}} {{form.errors.bairro}}
                        </div>

                        <label class="control-label col-1 text-right">Estado</label>
                        <div class="col-2">
                            {{form.estado(class="form-control")}} {{form.errors.estado}}
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <h4>Contato Direto</h4>
                <div class="row">
                    <label class="control-label col-2 text-right">Nome</label>
                    <div class="col-3">
                        {{form.nome(class="form-control")}} {{form.errors.nome}}
                    </div>
                    <label class="control-label col-2 text-right">Telefone</label>
                    <div class="col-3">
                        {{form.telefone(class="form-control")}} {{form.errors.telefone}}
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-2 text-right">Email</label>
                        <div class="col-3">
                            {{form.email(class="form-control")}} {{form.errors.email}}
                        </div>
                    </div>
                </div>
            </div>
            </br>


            <h4>Dados Financeiros</h4>

            <div class="form-group">
                <div class="row">
                    <label class="control-label col-2 text-right">Capital Social</label>
                    <div class="col-4">
                        {{form.capital_social(class="form-control")}} {{form.errors.capital_social}}
                    </div>

                    <label class="control-label col-1 text-right">NIRE</label>
                    <div class="col-5">
                        {{form.nire(class="form-control")}} {{form.errors.nire}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="control-label col-2 text-right">CNPJ</label>
                    <div class="col-4">
                        {{form.cnpj(class="form-control")}} {{form.errors.cnpj}}
                    </div>

                    <label class="control-label col-1 text-right">I/E</label>
                    <div class="col-4">
                        {{form.inscricao_estadual(class="form-control")}} {{form.errors.inscricao_estadual}}
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <label class="control-label col-2 text-right">CCM</label>
                    <div class="col-4">
                        {{form.ccm(class="form-control")}} {{form.errors.ccm}}
                    </div>

                    <label class="control-label col-1 text-right">Tributacao</label>
                    <div class="col-4">
                        {{form.tributacao(class="form-control")}} {{form.errors.tributacao}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="control-label col-2 text-right">CNAE</label>
                    <div class="col-4">
                        {{form.cnae_principal(class="form-control")}} {{form.errors.cnae_principal}}
                    </div>

                    <label class="control-label col-1 text-right">CNAE</label>
                    <div class="col-4">
                        {{form.cnae_secundaria(class="form-control")}} {{form.errors.cnae_secundaria}}
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <label class="control-label col-2 text-right">Dia Faturamento</label>
                    <div class="col-2">
                        {{form.dia_faturamento(class="form-control")}} {{form.errors.dia_faturamento}}
                    </div>

                    <label class="control-label col-2 text-right">Folha Pagamento</label>
                    <div class="col-2">
                        {{form.folha_pagamento(class="form-control")}} {{form.errors.folha_pagamento}}
                    </div>

                    <label class="control-label col-2 text-right">Certificado Digital</label>
                    <div class="col-2">
                        {{form.certificado_digital(class="form-control")}} {{form.errors.certificado_digital}}
                    </div>
                </div>
            </div>
            <br>
            <h4>Observações</h4>
            <div class="form-group">
                <div class="row">
                    <div class="col-6 offset-sm-2">
                        {{form.observacoes(class="form-control")}} {{form.errors. observacoes}}
                    </div>
                </div>
            </div>

            <h4>Anexos</h4>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-2 text-right">PDF, JPEG ou PNG</label>
                    <div class="col-2">
                        <form  method="post">
                            <input type="file" name="image"> <br /><br />
                        </form>
                    </div>
                </div>
                <div class="row">
                <label class="control-label col-2 text-right">Descrição</label>
                    <div class="col-4">
                        {{form.descricao(class="form-control")}} {{form.errors. descricao}}
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col-2">
                            <button class="btn btn-primary" type="button"><a href="{{ url_for('index') }}" ><font color=white>voltar</font></a></button>
                            <button class="btn btn-primary"  type="submit">Salvar</button>
                        </div>
                    </div>
                </div>

            </div>
    </form>
</div>
</div>

</div>
</form>
</div>

</div>


<!-- Botão para acionar modal -->
<button type="button" class="btn btn-primary" id="botao" data-toggle="modal" data-target="#modalExemplo">
    Abrir modal de demonstração
</button>



<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Empresa cadastrada com sucesso!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>

{% if messages %}
<script>
$(function () {

      $('#botao').trigger('click');
});


$('#botao').trigger('click') {

      var file = document.getElementById("file").value;
      var entry = {
        file : file.value
      };

      console.log(entry);
};



</script>
{% endif %}



{% endblock %}