{% extends 'base/base.html' %}

{% block page %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Clientes</a></li>
<li class="breadcrumb-item active" aria-current="page">Listar Clientes</li>
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<br>
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>Empresa</th>
        <th>Data Cadastro</th>
        <th>Responsável</th>
        <th>CNPJ</th>
        <th>CCM</th>
        <th>Endereço</th>
        <th>Localidade</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if result %}
    {% for row in result %}
    <tr>
        <td> {{ row[1] }}</td>
        <td> {{ row[2] }}</td>
        <td> {{ row[3] }}</td>
        <td> {{ row[4] }}</td>
        <td> {{ row[5] }}</td>
        <td> {{ row[6] }}, {{ row[7] }}, {{ row[8] }} </td>
        <td> {{ row[9] }}</td>
        <td><div class="btn-group dropleft">
            <a class="btn btn-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ações
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('editar_cliente', id = row[0]) }}">Editar</a>
                <a class="dropdown-item" href="{{ url_for('excluir_cliente', id = row[0]) }}">Excluir</a>
                <a class="dropdown-item" href="{{ url_for('listar_contabilidade', id = row[0]) }}">Contabilidade</a>
                <a class="dropdown-item" href="{{ url_for('select_socios', id = row[0]) }}">Socios</a>
                <a class="dropdown-item" href="{{ url_for('listar_acessos', id = row[0]) }}">Acessos</a>
                <a class="dropdown-item" href="{{ url_for('listar_anexos', id = row[0]) }}">Anexos</a>
            </div>
        </div>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

<br><br>
<div class="form-group">
    <div class="row">
        <div class="col-11"></div>
            <button class="btn btn-primary" type="button"><a href="{{ url_for('index') }}" ><font color=white>voltar</font></a></button>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/scripts.js') }}"></script>


{% endblock %}