{% extends 'base/base.html' %}

{% block page %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Clientes</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('listar_anexos', id=id) }}">Anexos</a></li>
<li class="breadcrumb-item active" aria-current="page">Inserir Anexo</li>

{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}


<br>
<div class="bloco">

    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    Empresa:  <div class="col-10">{{empresa}}</div>
                </div>
            </div>
            <br>
            <h4>Anexos</h4>

            <div class="form">
                <div class="form">
                </div>
                <div class="form">
                    <div class="form">
                        <div class="row">
                            <label class="control-label col-2 text-right"><h5>Título* :</h5></label>
                            <div class="col-4">
                                {{form.titulo(class="form-control")}} {{form.errors.titulo}}
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div id="id_anexo">
                        <div class="anexos">
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-2 text-right"></label>
                                    <div class="col-6">
                                        <input class='file-input' type='file' name='files[]' multiple='multiple'  />
                                        <button class="btn btn-primary" id="add_anexo2" title="Adicionar mais anexos"> + </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-2 text-right">Descrição:</label>
                                    <div class="col-4">
                                        <textarea rows="3" cols="24" name="descricao[]"  multiple='multiple' class="form-control" > </textarea>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <button class="btn btn-primary" type="button"><a href="{{ url_for('listar_clientes') }}" ><font color=white>voltar</font></a></button>
                            <button class="btn btn-primary" type="submit"><font color=white>Salvar</font></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</div>

</div>




</form>
</div>

</div>



<script>


    $(document).ready(function () {
        var num = 1;

        $('#add_anexo2').on('keydown', function (e) {
            if (e.keyCode == 9) {
                $(this).next().focus();
                return true;
            }

            e.preventDefault();
            if (e.keyCode == 13 || e.keyCode == 32) {
                $('#add_anexo2').trigger('click');
            }
        });

        $("#add_anexo2").on("click", function (e) {
            e.preventDefault();

            if (num > 6) {
                return false;
            }

            var str = '';
            str += '<div class="form-group">';
            str += '<div class="anexos"> ';
            str += '<div class="form-group">';
            str += '<div class="row">';
            str += '<label class="control-label col-2 text-right"></label>';
            str += '<div class="col-6">';
            str += '<input id="add_anexo" class="file-input" type="file" name="files[]" multiple="multiple" /> ';
            str += '<button class="btn btn-primary deltel" title="Remover Anexo"> - </button>';
            str += '</div></div>';
            str += '<div class="row">';
            str += '<label class="control-label col-2 text-right">Descrição:</label>';
            str += '<div class="col-4">';
            str += '<textarea rows="3" cols="24" name="descricao[]" multiple="multiple" class="form-control"> </textarea>';
            str += '<br></div></div></div></div></div></div>';

            var objfields = $(str);
            $('#id_anexo').append(objfields);
            num++;
        });


        $(document).on('click', '.deltel', function(e) {
            e.preventDefault();
            $(this).parents('.anexos').remove();
            num--;
        });
    });
</script>







{% endblock %}