{% extends 'base/base.html' %}
{% block header %}

<br>
{% if result %}
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>Username</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Criado em</th>
        <th>Atualizado em</th>
        <th>Grupo</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    {% if group == 'Administrador' %}
        {% for row in result %}
        <tr>
            <td> {{ row[1] }}</td>
            <td> {{ row[2] }}</td>
            <td> {{ row[3] }}</td>
            <td> {{ row[4] }}</td>
            <td> {{ row[5] }}</td>
            <td> {{ row[6] }}</td>
            <td><a href="{{ url_for('edita_usuario', id = row[0]) }}">Editar</a>
            <a href="{{ url_for('exclui_usuario', id = row[0]) }}">Excluir</a></td>
        </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td> {{ result[1] }}</td>
            <td> {{ result[2] }}</td>
            <td> {{ result[3] }}</td>
            <td> {{ result[4] }}</td>
            <td> {{ result[5] }}</td>
            <td> {{ result[6] }}</td>
            <td><a href="{{ url_for('edita_usuario', id = result[0]) }}">Editar</a>
        </tr>

    {% endif %}

{% endif %}
</tbody>
</table>


<br><br>
  <div class="botao">
      <button class="btn btn-primary" type="button"><a href="{{ url_for('index') }}" ><font color=white>voltar</font></a></button>
  </div>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/scripts.js') }}"></script>



<br><br><br><br>
<br><br><br>

{% endblock %}