{% extends 'base/base.html' %}

{% block page %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Financeiro</a>
<li class="breadcrumb-item"><a href="{{ url_for('listar_financeiro') }}">Listar Clientes</a>
<li class="breadcrumb-item"><a href="{{ url_for('listar_cobrancas', id=id, nome=nome) }}">Listar Cobranças</a></li>
<li class="breadcrumb-item active" aria-current="page">Editar Cobrança</li>
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<br>
<div class="bloco">
    <form method="post">
        {{ form.csrf_token }}
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <h4>Editar Cobrança:&nbsp;&nbsp;{{nome}}</h4>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-4 text-right">Dia do Vencimento</label>
                    <div class="col-3">
                        <input type="text" name="data" id="data" readonly="readonly" placeholder={{data_place_holder}} />
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-4 text-right">Serviço</label>
                <div class="col-4">
                    {{form.servico(class="form-control")}} {{form.errors.servico }}
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-4 text-right">Valor</label>
                    <div class="col-4">
                         <input type="text" id="dinheiro" name="valor" class="dinheiro form-control" placeholder="{{valor}}" style="display:inline-block" />
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-4 text-right">Tipo de Cobrança</label>
                {% if tipo_cobranca == 'Continuo' %}
                <div class="radio">

                    <input type="radio" name="tipo_cobranca" id="optionsRadios1" value="Continuo" checked>
                    <label for="optionsRadios1">Contínuo</label>

                    <div class="radio">

                        <input type="radio" name="tipo_cobranca" id="optionsRadios2" value="Nao_Continuo">
                        <label for="optionsRadios2">Não Contínuo</label>
                    </div>
                </div>
                {% elif tipo_cobranca == 'Nao_Continuo' %}
                <div class="radio">

                    <input type="radio" name="tipo_cobranca" id="optionsRadios1" value="Continuo" >
                    <label for="optionsRadios1">Contínuo</label>

                    <div class="radio">

                        <input type="radio" name="tipo_cobranca" id="optionsRadios2" value="Nao_Continuo" checked>
                        <label for="optionsRadios2">Não Contínuo</label>
                    </div>
                </div>
                {%endif%}
            </div>
            </br>
            <div class="form-group">
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <button class="btn btn-primary" type="button"><a href="{{ url_for('listar_cobrancas', id=id, nome=nome) }}" ><font color=white>voltar</font></a></button>
                        &nbsp;&nbsp;&nbsp;<button class="btn btn-primary"  type="submit">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{% if messages %}
{% endif %}

<!-- Datepicker -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>



<script>


    jQuery.noConflict();

(function( $ ) {
    $('#data').datepicker({
    monthNames: [ "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julio", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" ],
    minDate: "0",
    dateFormat: 'dd/mm/yy',
    dayNamesMin: [ "Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb" ],
    locales: 'pt-br',
    });
})( jQuery );

(function( $ ) {
$('.dinheiro').mask('#.##0,00', {reverse: true});
})( jQuery );

</script>

{% endblock %}