{% extends 'base/base.html' %}

{% block page %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Financeiro</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('listar_financeiro') }}">Listar Clientes</a></li>
<li class="breadcrumb-item active" aria-current="page">Cobrança</li>
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<br>
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>Empresa</th>
        <th>Data</th>
        <th>Serviço</th>
        <th>Valor</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if result %}
    {% for row in result %}
    <tr>
        <td> {{ row[1] }}</td>
        <td> {{ row[2] }}</td>
        <td> {{ row[3] }}</td>
        <td> {{ row[3] }}</td>
        <td><div class="btn-group dropleft">
            <a class="btn btn-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ações
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('incluir_cobranca', id = row[0]) }}">Incluir Cobrança</a>
            </div>
        </div>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

<br><br>
<div class="form-group">
    <div class="row">
        <div class="col-11"></div>
            <button class="btn btn-primary" type="button"><a href="{{ url_for('listar_financeiro') }}" ><font color=white>voltar</font></a></button>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/scripts.js') }}"></script>


{% endblock %}