{% extends 'base/base.html' %}

{% block page %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Financeiro</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('selecionar_clientes') }}">Selecionar Clientes</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('listar_financeiro', letra=letra) }}">Listar Clientes</a></li>
<li class="breadcrumb-item active" aria-current="page">Listar Cobranças</li>

{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<br>

<h4>Empresa:&nbsp; {{nome}}</h4>
<br><br>
<form method="post">
    {{ form.csrf_token }}
    <div class="row">
        <label class="control-label col-1"><h4>Mês:</h4></label>
        <div class="col-0">
            <h4>{{form.mes(class="form-control")}} {{form.errors.mes }}</h4>
        </div>
        <div class="col-4">
            <button class="btn btn-primary"  type="submit">Atualizar</button>
        </div>
    </div>
</form>
<br><br>
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>Data da Cobrança</th>
        <th>Serviço</th>
        <th>Valor</th>
        <th>Tipo de Cobrança</th>
    </tr>
    </thead>
    <tbody>
    {% if result %}
    {% for row in result %}
    <tr>
        <td align=center> {{ row[2] + '/' + mes + '/' + ano}} </td>
        <td> {{ row[3] }} </td>
        <td> {{ 'R$ ' + row[4] }} </td>
        {% if row[6] == "Continuo"%}
        <td> {{ "Contínuo" }}</td>
        {% else %}
        <td> {{ "Não Contínuo" }}</td>
        {% endif %}


    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
<br>
<h4> Total:&nbsp;&nbsp;R${{soma}} </h4>
<br><br>
<div class="form-group">
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <button class="btn btn-primary" type="button"><a href="{{ url_for('listar_financeiro', letra=letra) }}" ><font color=white>voltar</font></a></button>
            <button class="btn btn-primary" type="button"><a href="{{ url_for('incluir_cobranca', id=id, nome=nome, letra=letra) }}" ><font color=white>Incluir Cobrança</font></a></button>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/scripts.js') }}"></script>


{% endblock %}