{% extends 'base/base.html' %}

{% block page %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Faturamento por Cliente</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('inserir_faturamento_coletivo_lp') }}">Lucro Presumido</a></li>
<li class="breadcrumb-item active" aria-current="page">Listar Lucro Presumido</li>
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}


<br>
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>Data</th>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>CCM</th>
        <th>Senha</th>
        <th>Faturamento</th>
    </tr>
    </thead>
    <tbody>
    {% if result %}
    {% for row in result %}
    <tr>
        <td> {{ row[1] }}</td>
        <td> {{ row[2] }}</td>
        <td> {{ row[3] }}</td>
        <td> {{ row[4] }}</td>
        <td> {{ row[5] }}</td>
        <td><a href="{{ url_for('edita_usuario', id = row[0]) }}">Gravar</a>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
<br><br>
<div class="botao">
    <button class="btn btn-primary" type="button"><a href="{{ url_for('index') }}" ><font color=white>Gravar</font></a></button>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/scripts.js') }}"></script>


(function () {
    $("td").dblclick(function () {
        var conteudoOriginal = $(this).text();

        $(this).addClass("celulaEmEdicao");
        $(this).html("<input type='text' value='" + conteudoOriginal + "' />");
        $(this).children().first().focus();

        $(this).children().first().keypress(function (e) {
            if (e.which == 13) {
                var novoConteudo = $(this).val();
                $(this).parent().text(novoConteudo);
                $(this).parent().removeClass("celulaEmEdicao");
            }
        });

    $(this).children().first().blur(function(){
        $(this).parent().text(conteudoOriginal);
        $(this).parent().removeClass("celulaEmEdicao");
    });
    });
});

{% if messages %}
{% endif %}
{% endblock %}