{% extends 'base/base.html' %}

{% block page %}
{% if tipo == 'sn' %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Faturamento por Cliente</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('faturamento_individual_sn') }}">Simples Nacional</a></li>
<li class="breadcrumb-item active" aria-current="page">Listar Simples Nacional</li>
{% elif tipo == 'lp' %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Faturamento por Cliente</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('faturamento_individual_lp') }}">Lucro Presumido</a></li>
<li class="breadcrumb-item active" aria-current="page">Listar Lucro Presumido</li>
{% elif tipo == 'r' %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Faturamento por Cliente</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('faturamento_individual_r') }}">Lucro Real</a></li>
<li class="breadcrumb-item active" aria-current="page">Listar Lucro Real</li>
{% endif %}
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}


<h5>Clique no campo Faturamento para editar &nbsp:</h5>
<br>
<br>

<div class="form-group">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <table id="table_id" class="display">
            <thead>
            <tr>
                <th>Data</th>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>CCM</th>
                <th>Senha</th>
                <th>Faturamento</th>
            </tr>
            </thead>
            <tbody>
            {% if result %}
            {% for row in result %}
            <tr>
                {% if row[1] == None %}
                <td> {{ data_mes_ano }}</td>
                {% else %}
                <td> {{ row[1] }}</td>
                {% endif %}
                <td class="nome_empresa", id="nome_empresa"> {{ row[2] }}</td>
                <td> {{ row[3] }}</td>
                <td> {{ row[4] }}</td>
                <td> {{ row[5] }}</td>
                {% if row[1] == None %}
                <td class="valor_faturamento"> {{ 'R$ 0,00' }}</td>
                {% else %}
                <td class="valor_faturamento"> {{ 'R$ ' + row[6] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <br><br>
        <input type="hidden" name="faturamento" />
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                {% if tipo == 'sn' %}
                <button class="btn btn-primary" type="button"><a href="{{ url_for('faturamento_individual_sn') }}" ><font color=white>voltar</font></a></button>
                {% elif tipo == 'lp' %}
                <button class="btn btn-primary" type="button"><a href="{{ url_for('faturamento_individual_lp') }}" ><font color=white>voltar</font></a></button>
                {% elif tipo == 'r' %}
                <button class="btn btn-primary" type="button"><a href="{{ url_for('faturamento_individual_r') }}" ><font color=white>voltar</font></a></button>
                {% endif %}
                <input class="btn btn-primary" type="submit" name="submit_button" value="Gravar" onClick="salva_dados()">
            </div>
        </div>
    </form>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="{{ url_for('static', filename='jquery-mask-plugin/src/jquery.mask.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/scripts.js') }}"></script>



{% endblock %}