<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Novo Rumo</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>

    <!--CSS Customizado-->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>



<body>
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <a class="navbar-brand" href="#">
        <img id="logo" src="{{ url_for('static', filename='images/icon/casa.png') }}" alt="Novo Rumo"> {{pagina}}
    </a>
    <ul>
        {% if g.user %}
        <li>{{"Logado como: "}}{{g.user[0]}}</li>
        <li><a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
        <li><a href="{{ url_for('register') }}">Cadastre-se</a>
        <li><a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </li>
    </ul>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}

</section>
<footer class="footer navbar-fixed-bottom">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; KGRNet 2020</span>
        </div>
    </div>
</footer>

</body>
</html>


