{% block sidebar %}
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar ps-container ps--theme_default ps--active-y">

        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="in">
                <li class="sidebar-item">
                    <a href="{{ url_for('usuarios') }}" class="sidebar-link waves-effect waves-dark sidebar-link">
                        <i class="mdi mdi mdi-account-box"></i>
                        Listar Usuários
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-face"></i>
                        <span class="hide-menu">Clientes </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="{{ url_for('listar_clientes') }}" class="sidebar-link">
                            
                                <span class="hide-menu">Listar Clientes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('cadastrar_cliente') }}" class="sidebar-link">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Cadastrar novo Cliente</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-book-open"></i>
                        <span class="hide-menu">Ocorrências por Cliente</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="{{ url_for('listar_ocorrencias_sn') }}" class="sidebar-link">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Listar Ocorrências - Simples Nacional</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('listar_ocorrencias_lp') }}" class="sidebar-link">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Listar Ocorrências - Lucro Presumido</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Listar Ocorrências - Lucro Real</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('incluir_ocorrencia') }}" class="sidebar-link">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Incluir Ocorrência</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-book-open"></i>
                        <span class="hide-menu">Serviços por Cliente</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Faturamento Coletivo - Simples Nacional</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Faturamento Coletivo - Lucro Presumido</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Faturamento Individual</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    <!-- End Bottom points-->
</aside>
{% endblock  %}
