{% extends 'base/base.html' %}

{% block page %}
<li class="breadcrumb-item active" aria-current="page">Index</li>
{% endblock %}

{% block content %}
 <div class="row">
                <div class="col-sm">
                    <embed type="image/svg+xml" src={{graph_data2|safe}} style='max-width:400px'/>
                </div>
                <div class="col-sm">
                    <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:400px'/>
                </div>
            </div>
             <br> <br>
            <div class="row">
                <div class="col-sm">
                    <embed type="image/svg+xml" src={{graph_data3|safe}} style='max-width:800px'/>
                </div>
            </div>
            <br><br>

{% endblock %}

{% block sidebar %}
{% include "base/sidebar.html" %}
<br><br><br>
{% endblock %}
