{% extends 'base/base.html' %}

{% block page %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('listar_clientes') }}">Listar Clientes</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('editar_acesso', id=id_empresa) }}">Editar Acesso</a></li>
<li class="breadcrumb-item active" aria-current="page">Excluir Acesso</li>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash" id="flash">{{  message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="descadastro">
    <table class = "table"><tbody>

    {% if flag %}
    {% if result %}
    <h1>Os Acessos do seguinte cliente serão excluídos:</h1><br><br>

    {% else %}
    <h1></h1><br><br>

    {% endif %}

    <tr>
        <th>Empresa</th>
        <th>Data Cadastro</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Localidade</th>
    </tr>

    <tr>
        <td> {{ result[1] }} </td>
        <td> {{ result[2] }} </td>
        <td> {{ result[3] }} </td>
        <td> {{ result[4] }} </td>
        <td> {{ result[5] }}, {{ result[6] }}, {{ result[7] }} </td>
        <td> {{ result[8] }} </td>
    </tr>

    </tbody></table>

    <div class ="frase_botao">
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button class="btn btn-primary" type="button"><a href="{{ url_for('listar_clientes') }}" ><font color=white>voltar</font></a></button>
            <input class="btn btn-primary" type="submit" name="submit_button" value="Excluir Acesso">
        </form>
    </div>

    {% else %}
    <h1></h1><br><br>
    <tr>
         <tr>
        <th>Empresa</th>
        <th>Data Cadastro</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Localidade</th>
    </tr>
    </tr>

    <tr>
        <td> {{''}}</td>
        <td> {{''}}</td>
        <td> {{''}}</td>
        <td> {{''}}</td>
        <td> {{''}}</td>
        <td> {{''}}</td>
    </tr>
    </tbody></table>
    <div class ="frase_botao">
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button class="btn btn-primary" type="button"><a href="{{ url_for('listar_clientes') }}" ><font color=white>voltar</font></a></button>
        </form>
    </div>
    {% endif %}


</div>
{% endblock %}
