<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div>
    <label>Rotas:</label>

    <p>http://127.0.0.1:5000/listar_usuarios </p>
    <p>http://127.0.0.1:5000/login </p>
    <p>http://127.0.0.1:5000/register </p>
    <p>http://127.0.0.1:5000/logout </p>
    <p>http://127.0.0.1:5000/index </p>
    <p>http://127.0.0.1:5000/editar_usuario</p>
    <p>http://127.0.0.1:5000/excluir_usuario</p>
    <p>http://127.0.0.1:5000/index</p>
    <p>http://127.0.0.1:5000/listar_clientes</p>
    <p>http://127.0.0.1:5000/cadastrar_cliente</p>
    <p>http://127.0.0.1:5000/excluir_cliente</p>
    <p>http://127.0.0.1:5000/cadastrar_contabilidade</p>
    <p>http://127.0.0.1:5000/listar_contabilidade</p>
    <p>http://127.0.0.1:5000/cadastrar_socio</p>
</div>
</body>

</html>